.section__overlay{
    background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.6) 100%);
    width: 100%;
    height: 300px;
    position: absolute;
    top:0;
}

.section__paragraph{
    font-size: 30px;
    text-align: center;
    width: 650px;
    margin: 0 auto 40px;
}

.section__title{
    font-size: 60px;
    text-align: center;
    margin: 10px 0 10px;
}