.explore__card-link{
    width:180px;
    position:absolute;
    top:250px;
    left:10px;
    z-index: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Chathura,sans-serif;
    font-size: 30px;
    transition: 0.6s ease;
}

.explore__card-link:hover{
    color: #8D8D8D;
}