@import url('../src/styles/normalize.css');
@import url('../src/fonts/fonts.css');

#root{
    background-color: black;
    min-height: 100vh;
    max-height: fit-content;
    margin: 0;
    padding: 0 0 30px;
}